@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: Inter;
  --font-mono: Geist Mono;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --breakpoint-xs: 520px;

  --text-xs: calc(0.75rem * var(--scale-factor));
  --text-sm: calc(0.875rem * var(--scale-factor));
  --text-base: calc(1rem * var(--scale-factor));
  --text-lg: calc(1.125rem * var(--scale-factor));
  --text-xl: calc(1.25rem * var(--scale-factor));
  --text-2xl: calc(1.5rem * var(--scale-factor));
  --text-3xl: calc(1.875rem * var(--scale-factor));
  --text-4xl: calc(2.25rem * var(--scale-factor));
  --text-5xl: calc(3rem * var(--scale-factor));
  --text-6xl: calc(3.75rem * var(--scale-factor));
  --text-7xl: calc(4.5rem * var(--scale-factor));
  --text-8xl: calc(6rem * var(--scale-factor));
  --text-9xl: calc(8rem * var(--scale-factor));

  --leading-tight: calc(1.25);
  --leading-normal: calc(1.5);
  --leading-relaxed: calc(1.625);
  --leading-loose: calc(2);

  --scale-factor: 1.1;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --ground-dark: oklch(0.12 0 130);
  --ground-light: oklch(0.9941 0.01 130);
  --ground-primary: oklch(0.5 0.1 130);

  --background: var(--ground-light);
  --foreground: var(--ground-dark);
  --primary: var(--ground-primary);
  --primary-foreground: var(--background);
  --secondary: oklch(0.9 0.05 130);
  --secondary-foreground: oklch(from var(--foreground) l c h / 0.9);
  --muted: oklch(0.9 0.03 130);
  --muted-foreground: oklch(from var(--foreground) l c h / 0.8);
  --accent: oklch(0.7 0.07 130);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

[data-theme='dark'] {
  --background: var(--ground-dark);
  --foreground: var(--ground-light);
  --primary: var(--ground-primary);
  --primary-foreground: var(--foreground);
  --secondary: oklch(0.3 0.1 130);
  --secondary-foreground: oklch(from var(--foreground) l c h / 0.9);
  --muted: oklch(0.13 0.03 130);
  --muted-foreground: oklch(from var(--foreground) l c h / 0.8);
  --accent: oklch(0.2 0.1 130);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.9941 0.01 130 / 10%);
  --ring: oklch(0.9941 0.01 130);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  html {
    scrollbar-gutter: stable;
  }
}
